/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/storage/debugger
/vendor
/.idea
/.vagrant
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php_cs.cache
